{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{plugins, [
          {zipapp, {git, "http://git.hupaul.com/paul/zipapp.git", {branch, "master"}}}
          ]}.
{deps, [
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.2"}}},
        %{mnesia_cluster, {git, "https://github.com/paulzql/mnesia_cluster.git", {branch, "master"}}},
        %{mysql_poolboy,  {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {branch, "master"}}},
        {lager, {git, "git@github.com:erlang-lager/lager.git", {branch, "3.4.1"}}}
       %% {ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}
]}.

{relx, [{release, { sserl, "0.3.3" },
         [sserl,
          jsx,
          lager,
          sasl,
          crypto,
          mnesia]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
