[
    {lager, [
        {log_root, "log"},
        {colored, true},
        {handlers, [
            %% level :: none | debug | info | notice | warning | error | critical | alert | emergency
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "notice.log"}, {level, notice}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}]}
        ]}
      ]},

	{sserl,
    	[{listener, [ %% a list of listener args
        	[{ip, {0,0,0,0}},      %% listen ip  [optional]
             {port, 8388},         %% listen port
             {method, "rc4-md5"},  %% encryption method
             {password, "123456"}, %% password
             {ota, false},         %% use OTA [optional]
             % {expire_time, 1472402802},  %% expire time (unix time) [optional]
             {conn_limit, 1},      %% max synchronize connections on the port [optional]
             {type, server}        %% listener type (client or server)
             % {server, {"x-net.vip", 8388}} %% shadowsocks server (client only) [optional]
            ]
         ]},

         %% --------------------------------------
         %% shadowsocks-mutil integration support
         %% --------------------------------------
         {mutil_enabled, true},
         {mutil_manager_port, 6002},

         %% --------------------------------------
         %% shadowsocks-traffic statistics support
         %% --------------------------------------
         {traffic_enable, true}
    ]}
].
