[
    {lager, [
        {log_root, "log"},
        {colored, true},
        {handlers, [
            %% level :: none | debug | info | notice | warning | error | critical | alert | emergency
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "notice.log"}, {level, notice}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}]}
        ]}
      ]},

	{sserl,
    	[{listener, [ %% a list of listener args
        	[{ip, {0,0,0,0}},      %% listen ip  [optional]
             {port, 8388},         %% listen port
             {method, "rc4-md5"},  %% encryption method
             {password, "123456"}, %% password
             {ota, false},         %% use OTA [optional]
             % {expire_time, 1472402802},  %% expire time (unix time) [optional]
             {conn_limit, 1024},   %% max synchronize connections on the port [optional]
             {type, server}        %% listener type (client or server)
             % {server, {"x-net.vip", 8388}} %% shadowsocks server (client only) [optional]
            ]
         ]},

         %% --------------------------------------
         %% shadowsocks-panel integration support
         %% --------------------------------------
         {sync_enabled, false},   %% enable synchronize users from ss-panel
         {sync_node_id, 1},      %% the node id on ss-panel
         {sync_mysql_host, "x-net.vip"}, 
         {sync_mysql_port, 3306},        
         {sync_mysql_db,   "ss-panel"}, 
         {sync_mysql_user, "root"},
         {sync_mysql_pass, "123456"},
         {sync_report_min, 1048576},    %% bytes threshold to report flow

         %% --------------------------------------
         %% shadowsocks-mutil integration support
         %% --------------------------------------
         {mutil_enabled, true},
         {mutil_manager_port, 6002}
    ]}
].
